
#circle{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: red;
    clip-path: circle();
    font-size:4vh;
   
}

.name{
    font-size: 3.5vh;
    font-weight: bold;
}
a.list-group-item.list-group-item-action{

    background-color: transparent;
    padding:0%;
}
a.list-group-item.list-group-item-action:hover{

    background-color: transparent;
    padding:0%;
}

.mb-1.message{
    font-size: 2.5vh;
}
.col-10{
    padding:0%;
}

.time{
    font-size: 2.5vh;
}
.row{
    --bs-gutter-x: none;
}

.overflow-ellipsis {
    text-overflow: ellipsis;
}


.name{
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.box{
    height:6.7%;
}

.chat-box{
    background-color: rgb(228, 218, 215);
    color:rgb(108, 107, 107);
    color: rgb(19, 102, 120);
}
