.box{
    height:10%;
}

.addfriend{
    position:fixed;
    top:0;
    left: 0;
    
    height:100%;
    background-color: (0,0,0,0.2);
    display: flex;
    justify-content:left;
    align-items: center;
}

/*

.popup-inner{
    position:relative;
    padding: 32px;
    width:100%;
    max-width: 640px;
    background-color: aliceblue;
}

.popup-inner .close-btn{
    position:absolute;
    top:16px;
    right:16px;
}
*/

.top{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: stretch;
}

.row{
    --bs-gutter-x: none;
    display: flex;
    color:rgb(108, 107, 107);
    color: rgb(19, 102, 120);
}

#circle{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: red;
    clip-path: circle();
    font-size:4vh;
}

#circle.position-absolute.top-50.start-50.translate-middle {
    left: 0;
}
.container{
    height: 100%;
    padding: 0;
    left: 0;
}
.position-absolute.top-50.start-50.translate-middle {
    left: 0;
}

.display-name{
    text-align: center;
    font-size: large;
}

.mb-1.name{
    font-size: 5vh;
}


.bi.bi-person-plus-fill{
    color: gray;
    font-size: 6.5vh; 
    height: 100%;
    margin-left: auto;
    cursor: pointer;
}

